In [1]:
import numpy as np 
import pandas as pd

# data=pd.read_csv('../train.csv')
# label=data.iloc[0:890,2]
# data=data.iloc[0:890,[0,3,4]]
# testdat=testset.iloc[0:650,[0,3,4]]
# x=[data,testdat]

# for change in x:
#     change['Sex']=change['Sex'].map({'female':0,'male':1}).astype(int)
    

# data=(data.fillna(0)) #filling NA values
# testdat=testdat.fillna(0)
# print(testdat)

path = "D:/KULIAH/penggalian data/titanic3.xlsx"
df = pd.read_excel(path)

In [2]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,"Montreal, PQ / Chesterville, ON"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  home.dest  745 non-null    object
dtypes: float64(2), int64(4), object(7)
memory usage: 133.1+ KB

In [4]:
replace_missing_values = {"age" : 0.0, "fare": 0.0, "embarked":"unknown"}

In [5]:
df = df.fillna(replace_missing_values)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1309 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1309 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1309 non-null   object
 11  boat       486 non-null    object
 12  home.dest  745 non-null    object
dtypes: float64(2), int64(4), object(7)
memory usage: 133.1+ KB

In [7]:
df = df.drop(['name', 'ticket', 'home.dest', 'cabin'], axis=1)

In [8]:
df['sex'] = df['sex'].map({'female':0, 'male':1})

In [9]:
df['age'] = df['age'].astype(int)

In [10]:
df['fare'] = df['fare'].astype(int)

In [11]:
df['embarked'] = df['embarked'].map({'S':1,'C':2,'unknown':0,'Q':3})

In [12]:
df['boat']=df.boat.apply(lambda x:0 if type(x)==float else 1)

In [13]:
df

      pclass  survived  sex  age  sibsp  parch  fare  embarked  boat
0          1         1    0   29      0      0   211         1     1
1          1         1    1    0      1      2   151         1     1
2          1         0    0    2      1      2   151         1     0
3          1         0    1   30      1      2   151         1     0
4          1         0    0   25      1      2   151         1     0
...      ...       ...  ...  ...    ...    ...   ...       ...   ...
1304       3         0    0   14      1      0    14         2     0
1305       3         0    0    0      1      0    14         2     0
1306       3         0    1   26      0      0     7         2     0
1307       3         0    1   27      0      0     7         2     0
1308       3         0    1   29      0      0     7         1     0

[1309 rows x 9 columns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   survived  1309 non-null   int64
 2   sex       1309 non-null   int64
 3   age       1309 non-null   int32
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   fare      1309 non-null   int32
 7   embarked  1309 non-null   int64
 8   boat      1309 non-null   int64
dtypes: int32(2), int64(7)
memory usage: 81.9 KB

In [15]:
df_corr = df.corr()["survived"]

In [16]:
df_corr.abs().sort_values(ascending=False)[1:]

boat        0.948190
sex         0.528693
pclass      0.312469
fare        0.244619
embarked    0.095171
parch       0.082660
age         0.036715
sibsp       0.027825
Name: survived, dtype: float64

KNN

In [17]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [18]:
X = df.filter(['boat','sex','pclass','fare'], axis=1)
Y = df['survived']

In [54]:
X_train, X_test,Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [55]:
classifier = KNeighborsClassifier(n_neighbors=3, metric='minkowski', p=2)
classifier.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [56]:
Y_pred= classifier.predict(X_test)

In [57]:
print(metrics.accuracy_score(Y_test, Y_pred))

0.9287531806615776

In [58]:
print(confusion_matrix(Y_test, Y_pred))

[[245   8]
 [ 20 120]]

In [59]:
print(classification_report(Y_test, Y_pred))

              precision    recall  f1-score   support

           0       0.92      0.97      0.95       253
           1       0.94      0.86      0.90       140

    accuracy                           0.93       393
   macro avg       0.93      0.91      0.92       393
weighted avg       0.93      0.93      0.93       393