In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [25]:
dataset = pd.read_csv('data_multiple.csv')
dataset

      Nama  Tugas  Quiz  UTS  UAS  Absensi     NA
0      Adi     75    35   63   85       98  72.90
1     Suci     48    53   74   49       78  56.15
2     Tino     55    73   81   76       66  71.20
3     Andi     49    27   66   53       89  51.90
4     Rina     40    44   67   54       60  50.80
5     Deny     23    38   70   48       99  51.25
6     Lina     59    39   50   52       66  53.50
7     Tias     73    35   59   73       69  66.10
8   Nazier     74    57   71   64       98  74.25
9    Galuh     79    38   86   86       57  77.45
10    Deby     24    50   81   56       63  46.60
11    Rony     35    64   54   59       53  46.75
12   Dandi     84    34   71   74       88  74.30
13    Azka     50    27   47   66       75  49.65
14    Reno     61    60   78   48       72  65.75
15   Sandi     35    45   74   69       99  60.50
16   Linda     64    73   73   59       86  70.35
17   Sinta     29    39   47   82       98  52.60
18   Marni     88    53   88   46       84  73.95
19   Fandi     38    57   71   71       91  58.35

In [26]:
X = dataset[['Tugas', 'Quiz', 'UTS', 'UAS', 'Absensi']].values
Y = dataset['NA'].values

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [28]:
regressor = LinearRegression()
regressor.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
print(regressor.intercept_)

-14.104615250972778

In [30]:
print(regressor.coef_)

[0.38724224 0.17561218 0.27686873 0.22736405 0.16593913]

In [31]:
coeff_df = pd.DataFrame(regressor.coef_, ['Tugas', 'Quiz', 'UTS', 'UAS', 'Absensi'], columns=['Coefficient'])  
coeff_df

         Coefficient
Tugas       0.387242
Quiz        0.175612
UTS         0.276869
UAS         0.227364
Absensi     0.165939

In [32]:
y_pred = regressor.predict(X_test)

In [33]:
df = pd.DataFrame({'Actual': Y_test, 'Predicted': y_pred})
df

   Actual  Predicted
0   73.95  78.042229
1   56.15  58.362835
2   58.35  61.521473
3   74.25  75.032219

In [34]:
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred)))

Mean Absolute Error: 2.564688739779964
Mean Squared Error: 8.078270036853388
Root Mean Squared Error: 2.8422297649650683